
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <span class="label label-success float-right">Monthly</span>
                <h5>Kategori sayısı</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@ViewBag.categoryCount</h1>
                <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                <small>Total income</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <span class="label label-info float-right">Annual</span>
                <h5>Post Sayısı</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@ViewBag.postCount</h1>
                <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                <small>New orders</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <span class="label label-primary float-right">Today</span>
                <h5>Kullanıcı sayısı</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@ViewBag.userCount</h1>
                <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                <small>New visits</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <span class="label label-danger float-right">Low value</span>
                <h5>Toplam beğeni sayısı</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">@ViewBag.likeCount</h1>
                <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                <small>In first month</small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @*Burası viewcomponenta gidicek Bildirim ekleme*@
        @await Component.InvokeAsync("AdminDashboardAddNotification")

    @*Burası view componenta gidicek postları görüntüleme*@
    @await Component.InvokeAsync("AdminGetPostList")
</div>


<div class="row">
    @*Burası viewcomponenta gidicek Mesajar*@
    @await Component.InvokeAsync("AdminDashboardMessages")

    @*Burası viewcomponenta gidicek yorumlar*@
    @await Component.InvokeAsync("AdminCommentList")

</div>

