@model EntityLayer.Concrete.Admin
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin | Login</title>

    <link href="~/admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/admin/css/animate.css" rel="stylesheet">
    <link href="~/admin/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>

            </div>
            <h3>Social Media App</h3>
            <p>Admin paneli uygulamanın ihtiyaçlarının giderilmesi için kusursuz bir şekilde tasarlandı.
                <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
            </p>
            <p>Giriş yapın.</p>
            <form class="m-t" role="form" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" asp-for="Email" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="******" asp-for="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Giriş yap</button>

                <a href="#"><small>Şifremi unuttum</small></a>
                <a class="btn btn-sm btn-white btn-block" href="/Login/Index">Kullanıcı girişine gidin</a>
                <a class="btn btn-sm btn-white btn-block" href="register.html">Hesap oluşturun</a>
            </form>
            <p class="m-t"> <small>Copyright &copy; 2022</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/admin/js/jquery-3.1.1.min.js"></script>
    <script src="~/admin/js/popper.min.js"></script>
    <script src="~/admin/js/bootstrap.js"></script>

</body>

</html>
