@model EntityLayer.Concrete.User
<li class="nav-item nav-profile dropdown">
                        <a class="nav-link" id="profileDropdown" href="/Profile/Index" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">
                                <img src="@Model.ThumbnailImageLink" alt="image">
                                <span class="availability-status online"></span>
                            </div>
                            <div class="nav-profile-text">
                                <p class="mb-1 text-black">@Model.Name @Model.Surname - @Model.Username</p>
                            </div>
                        </a>                        
                    </li>
